<div class="container">
	<div class="row">
		<div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-lg-11 col-lg-offset-1 ">
			<div class="list-group">
				<% for(var i = 0;i< formatos.length;i++) { %>
				<div class="list-group-item ">
					<div class="container" >
						<div class="col-xs-9 col-sm-8 col-lg-8 ">
						<h4><%= formatos[i].cc + '  ' + formatos[i].name %></h4>
						<h4><%= formatos[i].date_file %></h4>
						</div>
						<div class="col-xs-3 col-sm-3 col-lg-3 ">
						<button type="button" id="<%= formatos[i].name_file%>" class="btn btn-success stated-form"><% if(formatos[i].validated == 'validar'){%> no validar <%}else{%> validar<%}%></button>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</div>