
<div class="container formularios-reg">
  <div class="row">
    <form role="form" method="POST" action="/form" id="registro">
      <div id="formulario" class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-2 ">
        <div id="form-groups" class="panel panel-default">
          <div class="panel-heading"><b>Generar nuevo certificado</b></div>
          <div class="panel-body">
            <div class="form-group">
              <label for="InputEmail1">Nombre</label>
              <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" name="nombre"required="required" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
            </div>
            <div class="form-group">
              <select name="sexo_type">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
              </select>
            </div>
            <div class="form-group">
              <label for="InputCedula1">Cedula</label>
              <input type="number" class="form-control" id="inputCategoria" placeholder="Cedula" name="cedula" required="required">
            </div>
            <div class="form-group">
              <label for="InputExpCedula1">Ciudad de Expedicion</label>
              <input type="text" class="form-control" id="inputCategoria" placeholder="C. de Exp. de la Cedula" name="c_exp" required="required" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
            </div>
            <div class="form-group">
              <label for="InputTelFijo1">Telefono Fijo</label>
              <input type="tel" class="form-control" id="inputCategoria" placeholder="Telefono Fijo" name="tel_fijo" required="required">
            </div>
            <div class="form-group">
              <label for="InputTelMovil1">Telefono Movil</label>
              <input type="tel" class="form-control" id="inputCategoria" placeholder="Telefono Movil" name="tel_movil">
            </div>
            <div class="form-group">
              <label for="InputTiempo1">Tiempo(años)</label>
              <input type="number" class="form-control" id="inputCategoria" placeholder="Tiempo(años)" name="tiempo" required="required" >
            </div>
            <div class="form-group">
              <label for="InputDir1">Direccion</label>
              <input type="text" class="form-control" id="inputCategoria" placeholder="Direccion" name="dirc" required="required"  onkeyup="javascript:this.value=this.value.toUpperCase();">
            </div>
          </div>
          <button type = "submit" class="btn btn-success salvar_gen" id="saved-generate">Guardar y Generar</button>
          <hr>
        </div>
      </div>
    </form>
    <div id="no_registro" class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-lg-4 col-lg-offset-1">
      <form role="form" method="POST" action="/generate-pdf" id="registro">
        <div id="form-groups" class="panel panel-default">
          <div class="panel-heading"><b>Generar certificado por cedula</b></div>
          <div class="panel-body">
            <div class="form-group">
              <label for="InputCedula2">Cedula</label>
              <input type="number" name="num_cel" class="form-control" id="inputCategoria2" placeholder="Cedula" required="required">
            </div>
          </div>
          <button type = "submit" class="btn btn-success" id="saved-generate">Generar</button>
          <hr>
        </div>
      </form>
    </div>
  </div>
</div>
