<div id="no_registro" class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-lg-4 col-lg-offset-1">
      <form role="form" method="POST" action="/" id="registro">
        <div id="form-groups" class="panel panel-default">
          <div class="panel-heading"><b>Consulta por codigo de certificado</b></div>
          <div class="panel-body">
            <div class="form-group">
              <label for="InputCedula2">Codigo</label>
              <input type="text" name="id_format" class="form-control"  placeholder="codigo unico" required="required">
            </div>
          </div>
          <button type = "submit" class="btn btn-success" id="query_cc_button">Consultar</button>
          <hr>
        </div>
      </form>
    </div>