<h1>PAGE USERS</h1>
<form action="/files_pdf_format/create" method="GET">
  <label for="InputDir1">nombre</label>
  <input type="text" class="form-control"  name="name_file" required="required">
  <label for="InputDir1">fecha</label>
  <input type="text" class="form-control"  name="date_file" required="required">
  <button type = "submit" class="btn btn-success" id="saved-generate">Generar</button>
</form>
